/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://i.imgur.com/7SbtKvw.png');
    --home-image: url('https://www.google.com/imgres?q=lightskin%20dog&imgurl=https%3A%2F%2Flookaside.instagram.com%2Fseo%2Fgoogle_widget%2Fcrawler%2F%3Fmedia_id%3D3169529183843807314&imgrefurl=https%3A%2F%2Fwww.instagram.com%2Fp%2FCGiQEYvA4Zg%2F&docid=Ub6cHMRJAuAKCM&tbnid=K6WrjoX7THpIqM&vet=12ahUKEwj-9pny8dCFAxVJ2AIHHT7ZD94QM3oECGwQAA..i&w=1440&h=1799&hcb=2&ved=2ahUKEwj-9pny8dCFAxVJ2AIHHT7ZD94QM3oECGwQAA');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
